.navbar-brand {
    font-size: 45px;
}

.navbar {
    background-image: linear-gradient(lightblue, white);
}

#searchBtn {
    border: 1px black;
}

.card {
    
    background-color: rgba(0, 0, 0, 0.2);
    
}

#searchBtn {
    color: darkblue;
    font-weight: bold;
}